<!-- base.html -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My App{% endblock %}</title>
        {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        &copy; My App 2023
    </footer>
    {% block script %}
    {% endblock %}
</body>
</html>
